{% load i18n %}
<h3>{% blocktrans with filter_title=title %} Por
    {{ filter_title }} {% endblocktrans %}</h3>
<ul>
    <li>
        <form method="GET" action="">
            <input
                    type="text"
                    value="{{ spec.value|default_if_none:'' }}"
                    name="{{ spec.parameter_name }}"/>
        </form>
    </li>
</ul>