{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_list admin_modify %}

{% block title %}Importar{% endblock %}

{% block breadcrumbs %}
    <!-- breadcrumbs -->
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo;
        <a href="{% url 'admin:app_list' app_label='apolo' %}">Apolo</a>
        &rsaquo;
        Importar
    </div>
    <!-- /breadcrumbs -->
{% endblock %}


{% block content %}
    <form enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        <fieldset class="module aligned  module_0 initialized selected">

            <div class="form-row">
                <div>
                    {{ form.format.errors }}
                    {{ form.format.label_tag }}
                    {{ form.format }}
                </div>
            </div>

            <div class="form-row">
                <div>
                    {{ form.competencia.errors }}
                    {{ form.competencia.label_tag }}
                    {{ form.competencia }}
                </div>
            </div>

            <div class="form-row">
                <div>
                    {{ form.file.errors }}
                    {{ form.file.label_tag }}
                    {{ form.file }}
                </div>
            </div>


        </fieldset>

        <!-- barra de ações -->
        <div class="submit-row">
            <input type="submit" value="Importar" class="default"
                   name="_save">
        </div>
        <!-- barra de ações -->

    </form>

{% endblock %}
